appdirs==1.4.3
attrs==19.1.0
beautifulsoup4==4.7.1
black==19.3b0
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
idna==2.8
pdfminer.six==20181108
pdfplumber==0.5.13
Pillow==6.2.0
pycryptodome==3.9.0
python-dateutil==2.8.0
requests==2.22.0
requests-cache==0.4.13
six==1.12.0
sortedcontainers==2.1.0
soupsieve==1.9.1
toml==0.10.0
unicodecsv==0.14.1
urllib3==1.24.2
Wand==0.5.7
