flask
elasticsearch==6.4.0
requests
beautifulsoup4
requests_html
python-dotenv
python-dateutil
pdfplumber
graphqlclient
gunicorn
requests-cache
python-slugify
Flask-BasicAuth
sentry-sdk[flask]
certifi
flake8
black
isort