{% from '_search.html.j2' import search %}
{% extends "base.html.j2" %}
{% block content %}
    <h2>Search for a charity</h2>
    <form>
        {{ search(q, 'Charity') }}
    </form>
    {% if results %}
    {% if results.count > results.results|length %}
    <p>{{ nav.first_result }} - {{nav.last_result}} of {{results.count}} results:</p>
    {% else %}
    <p>{{results.count}} results:</p>
    {% endif %}
    <ul class="">
        {% for r in results.results %}
        <li class=" mb3">
            <code>{{r.id}}</code>
            <a href="{{ url_for('charity.charity_get', regno=r.id) }}">
                {{r.names.0.value-}} 
            </a>
            <span class="mid-gray f5">({{ r.finances|length }} years)</span>
        </li>
        {% endfor %}
    </ul>
    {% include '_pagination.html.j2' %}
    {% endif %}
{% endblock content %}