{% extends "base.html" %}
{% block content %}
    <h2>Search within documents</h2>
    <form>
        <input class="" value="{{q or ''}}" name="q" />
        <input type='submit' class="" value="Search" name="q" />
    </form>
    <p>Results:</p>
    {% if results %}
    <ul class="">
        {% for r in results %}
        <li>
            <a href="{{ url_for('doc.doc_get', id=r._id) }}">{{r._id}}</a>
            {% for s in r.snippets %}
            <pre class="pa2 bg-washed-yellow b--gray bw1 ba f5 sans-serif base-font mh0 mt0 mb2">{{s|highlight(q)|safe}}</pre>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock content %}