{% from '_search.html' import search %}
{% extends "base.html" %}
{% block content %}
    <h2>Search within documents</h2>
    <form>
        {{ search(q, 'Term to find in document') }}
    </form>
    {% if results %}
    <p>{{resultCount}} results:</p>
    <ul class="list ma0 pa0">
        {% for r in results %}
        <li class="">
            <a href="{{ url_for('doc.doc_get', id=r._id, q=q) }}">
            {% if r._source.regno and r._source.fye %}
                {{r._source.regno }} ({{ r._source.fye[0:10] }})
            {% else %}
                {{r._id}}
            {% endif %}
            </a>
            {% for s in r.highlight["attachment.content"] %}
            <pre class="pa2 bg-washed-yellow b--gray bw1 bn f6 sans-serif base-font mh0 mt0 mb2">{{s|safe}}</pre>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="mb5">No results found</p>
    {% endif %}
{% endblock content %}