{% extends "base.html" %}

{% set input_style = 'f6 f5-l input-reset ba bw1 b--black-20 db cf near-black bg-white pa2 lh-solid w5 br2-ns' %}

{% block content %}
    <h2>Upload a list of documents</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="flex flex-wrap" id=''>
            <div class="w-100">
                <p class="ma0 pa0 w-100 measure">
                    Upload or paste a list of charity numbers to fetch documents for.
                    You can also include a financial year end, otherwise the most recent account will be fetched. 
                </p>
                <p class="pa0 w-100 measure">
                    The charity number should be in the first column, and (if present) the
                    financial year end should be in the second column in format <code>YYYY-MM-DD</code>.
                </p>
            </div>
        </div>
        <div id="bulk-upload" class="flex flex-wrap"></div>
        {#<div class="flex flex-wrap" id='stage-1'>
            <div class="w-100 w-50-l">
                <label class="db w-100 mt4 b">Upload a CSV file: </label>
                <input class="mt4 db cf data-input" type='file' name='file' id='file' />
            </div>
            <div class="w-100 w-50-l">
                <label class="db w-100 mt4 b">Or paste a list of charities: </label>
                <textarea class="{{ input_style }} w-100 data-input" rows="8" id='list' placeholder='123456,2020-03-31'></textarea>
            </div>
        </div>
        <div class="flex flex-wrap" id="stage-2">
            <h3 class="ma0 pa0 mt4 w-100">Results</h3>
            <div class="w-100">
                <input class="mt4 f5 f4-l button-reset fl pa3 no-underline tc bn bg-animate bg-yellow dim near-black pointer br2-ns" type='submit' id='upload-docs' value='Upload documents' />
            </div>
            <p class="w-100">
                <span class="b">File source: </span>
                <span id='file-source' class="code"></span>
                <span id='file-values'></span>
            </p>
            <table id='' class="table collapse w-100 f6">
                <thead>
                    <tr>
                        <th class="pa1 bb b--light-gray bw1 tl">Charity number</th>
                        <th class="pa1 bb b--light-gray bw1 tl">Charity name</th>
                        <th class="pa1 bb b--light-gray bw1 tl">Financial year end</th>
                        <th class="pa1 bb b--light-gray bw1 tr">Income</th>
                        <th class="pa1 bb b--light-gray bw1 tr">Spending</th>
                        <th class="pa1 bb b--light-gray bw1 tl">Status</th>
                    </tr>
                </thead>
                <tbody id='preview-data'>
                </tbody>
            </table>
        </div>
        #}
    </form>
{% endblock content %}

{% block bodyscripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js" 
        integrity="sha256-Fh801SO9gqegfUdkDxyzXzIUPWzO/Vatqj8uN+5xcL4=" 
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="{{ url_for('static', filename='js/bulkReact.js') }}" type="text/babel"></script>
{# <script src="{{ url_for('static', filename='js/bulk.js') }}"></script> #}
{# <script type='text/javascript'>

</script> #}
{% endblock %}