{% extends "base.html" %}

{% set input_style = 'f6 f5-l input-reset ba bw1 b--black-20 db cf near-black bg-white pa2 lh-solid w5 br2-ns' %}

{% block content %}
    <h2>Upload a list of documents</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="flex flex-wrap" id='stage-1'>
            <div class="w-100">
                <p class="ma0 pa0 w-100 measure">
                    Upload or paste a list of charity numbers to fetch documents for.
                    You can also include a financial year end, otherwise the most recent account will be fetched. 
                </p>
                <p class="pa0 w-100 measure">
                    The charity number should be in the first column, and (if present) the
                    financial year end should be in the second column in format <code>YYYY-MM-DD</code>.
                </p>
            </div>
            <div class="w-100 w-50-l">
                <label class="db w-100 mt4 b">Upload a CSV file: </label>
                <input class="mt4 db cf data-input" type='file' name='file' id='file' />
            </div>
            <div class="w-100 w-50-l">
                <label class="db w-100 mt4 b">Or paste a list of charities: </label>
                <textarea class="{{ input_style }} w-100 data-input" rows="8" id='list' placeholder='123456,2020-03-31'></textarea>
            </div>
        </div>
        <div class="flex flex-wrap" id="stage-2">
            <h3 class="ma0 pa0 mt4 w-100">Results</h3>
            <div class="w-100">
                <input class="mt4 f5 f4-l button-reset fl pa3 no-underline tc bn bg-animate bg-yellow dim near-black pointer br2-ns" type='submit' id='upload-docs' value='Upload documents' />
            </div>
            <p class="w-100">
                <span class="b">File source: </span>
                <span id='file-source' class="code"></span>
                <span id='file-values'></span>
            </p>
            <table id='' class="table collapse w-100 f6">
                <thead>
                    <tr>
                        <th class="pa1 bb b--light-gray bw1 tl">Charity number</th>
                        <th class="pa1 bb b--light-gray bw1 tl">Charity name</th>
                        <th class="pa1 bb b--light-gray bw1 tl">Financial year end</th>
                        <th class="pa1 bb b--light-gray bw1 tr">Income</th>
                        <th class="pa1 bb b--light-gray bw1 tr">Spending</th>
                        <th class="pa1 bb b--light-gray bw1 tl">Status</th>
                    </tr>
                </thead>
                <tbody id='preview-data'>
                </tbody>
            </table>
        </div>
    </form>
{% endblock content %}

{% block bodyscripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js" 
        integrity="sha256-Fh801SO9gqegfUdkDxyzXzIUPWzO/Vatqj8uN+5xcL4=" 
        crossorigin="anonymous"></script>
<script type='text/javascript'>

var charCache = {};

function getRecordData(record){
    if(!record[0].match('[1-9][0-9]{5,6}')){
        return null;
    }
    var fye;
    if(record.length > 1 && record[1].match('[1-9][0-9]{4}-[0-9]{2}-[0-9]{2}')){
        fye = record[1];
    }

    if(record[0] in charCache){
        return new Promise((_) => charCache[record[0]]);
    }

    return fetch(`/charity/${record[0]}.json`)
        .then((r) => r.json())
        .then((data) => {
            charCache[record[0]] = data;
            data['fye'] = fye;
            return data;
        })
        .catch(function(error) {
            console.log(error);
        });
}

function createRecordCell(f, v, classList){
    var td = document.createElement('td');
    td.classList.add(f, 'pa2');
    if(classList){
        classList.forEach((c) => {
            td.classList.add(c);
        });
    }
    if(v instanceof HTMLElement){
        td.append(v);
    } else if(v){
        td.innerText = v;
    }
    return td;
}

function createRecordRow(record){
    var nf = new Intl.NumberFormat('en-GB', { style: 'currency', currency: 'GBP', minimumFractionDigits: 0 });
    var tr = document.createElement('tr');
    tr.id = `record-${record['data']['regno']}`;
    tr.classList.add('record-row');
    var fy = {};
    if(record['fye']){
        fy = record['data']['charity']['finances'].find((f) => fy['fyend'] == record['fye']);
        if(!fy){
            fy = {
                'status': 'FYE not found'
            }
        } else {
            fy['status'] = 'Matched';
        }
    } else {
        fy = record['data']['charity']['finances'].find((f) => ('url' in f));
        if(!fy){
            fy = record['data']['charity']['finances'][0];
            fy['status'] = 'No account PDFs available';
        } else {
            fy['status'] = 'Latest with url';
        }
    }

    tr.append(createRecordCell('regno', record['data']['regno']));
    tr.append(createRecordCell('name', record['data']['charity']['names'][0]['value']));
    if(fy['fyend']){
        tr.append(createRecordCell('fye', fy['fyend']));
        if(typeof fy['income'] !=='undefined'){
            tr.append(createRecordCell('income', nf.format(fy['income']), ['tr']));
            tr.append(createRecordCell('spending', nf.format(fy['spending']), ['tr']));
        } else {
            tr.append(createRecordCell('income', null, ['tr']));
            tr.append(createRecordCell('spending', null, ['tr']));
        }
        if(fy["doc_url"]){
            let a = document.createElement('a');
            a.href = fy['doc_url'];
            a.innerText = 'Document exists';
            tr.append(createRecordCell('status', a));
        } else if(fy['url']){
            let a = document.createElement('a');
            a.href = fy['url'];
            a.innerText = `Fetch url [${fy['status']}]`;
            tr.append(createRecordCell('status', a));
        } else {
            tr.append(createRecordCell('status', fy['status']));
        }
    } else {
        tr.append(createRecordCell('fye', null));
        tr.append(createRecordCell('income', null));
        tr.append(createRecordCell('spending', null));
        tr.append(createRecordCell('status', fy['status']));
    }
    return tr;
}

document.addEventListener("DOMContentLoaded",function(){

    Array.from(document.getElementsByClassName('data-input')).forEach((el) => {
        el.value = '';
        el.addEventListener('change', (e) => {
            e.preventDefault();
            var file;
            var source;
            if(e.target.files){
                file = e.target.files[0];
                source = file.name;
            } else if(e.target.value){
                file = e.target.value;
                source = 'Text box';
            }
            if(file){
                Papa.parse(file, {
                    preview: 100,
                    complete: (results) => {
                        document.getElementById('file-source').innerText = source;
                        var table = document.getElementById('preview-data');
                        table.innerHtml = '';
                        if(results['data']){
                            var rowCount = 0;
                            results['data'].forEach((row) => {
                                row = getRecordData(row);
                                if(row){
                                    row.then((data) => {
                                        rowCount++;
                                        var tr = createRecordRow(data);
                                        table.append(tr);
                                    })
                                }
                            });
                            document.getElementById('file-values').innerText = `(${rowCount} values found)`;
                        }
                    }
                });
            }
        });
    });

    document.getElementById('upload-docs').addEventListener('click', (e) => {
        e.preventDefault();
        Array.from(document.getElementsByClassName('record-row')).forEach((row) => {
            const id = row.id.replace('record-', '');
        });
    });
});
</script>
{% endblock %}